body{
    background-color: black;
}

img{
    height: 500px;
    width: 500px;
    margin-left: 460px;
    margin-top: 0px;
}
div{
    margin-left: 650px;
    margin-top: 0px;
}
button{
    height: 60px;
    width: 60px;
    border-radius: 20%;
}